################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


.vs
.idea
.vscode
*/bin
ExternalAssets/GameEditor/
Temp
obj
bin
Debug
Library
*.csproj
*.sln
*.DotSettings.user
*Compression
incremental.pkg
whole.pkg
Assets/Tmp
Assets/StreamingAssets*
ChessUnityProject*
ExternalAssets/
tools/
debug.log
Assets/Temp*
temp_*
*.userprefs
Assembly-UnityScript-firstpass.unityproj
/Assets/LuaFramework.config
/Assets/LuaFramework.config.meta
/Assets/LuaFramework.luaproj
/Assets/LuaFramework.luaproj.meta
/Assets/obj.meta
/Assets/LuaFramework.luaproj.user
/Assets/LuaFramework.luaproj.user.meta
/AssetBundles/
